################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookWala/.vs/BookWala
/BookWala/BookWala/bin/Debug/netcoreapp3.1
/BookWala/BookWala/obj
/BookWala/BookWala/wwwroot/lib
